@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    4 French-Lime Street <br />
    Sofia, SA 6869<br />
    <abbr title="Phone">P:</abbr>
    00359 896617762
</address>

<address>
    <strong>Momchil Dishev:</strong>   <a href="mailto:mo.dishev@example.com">Mo.dishev@example.com</a>
</address>