<table class="TicTacToeField">
    <tr class="row1 row">
        <td class="col1 col">
            <img src="style/design/Circle.png">
        </td>
        <td class="col2 col">
            <img src="style/design/Cross.png">
        </td>
        <td class="col3 col">
            <img src="style/design/Cross.png">
        </td>
    </tr>
    <tr class="row2 row">
        <td class="col1 col">
            <img src="style/design/Cross.png">
        </td>
        <td class="col2 col">
            <img src="style/design/Circle.png">
        </td>
        <td class="col3 col">
            <img src="style/design/Circle.png">
        </td>
    </tr>
    <tr class="row3 row">
        <td class="col1 col">
            <img src="style/design/Circle.png">
        </td>
        <td class="col2 col">
            <img src="style/design/Cross.png">
        </td>
        <td class="col3 col">
            <img src="style/design/Circle.png">
        </td>
    </tr>
</table>
