<div class="user-toolbar">
    <div class="logged-user-data">
        <span class="username-container"></span>
        <span class="logout">[Logout]</span>
    </div>
    <div class="game-container">
        <span class="game-container-heading">Available games</span>
        <div class="games-list">
            <!--<div class="game">
                <span class="about-game">Game number: </span>
                <span class="game-id">34-13413-434-fgsdf</span>
                <span class="join-game">JOIN</span>
            </div>
            <div class="game">
                <span class="about-game">Game number: </span>
                <span class="game-id">45-32452-45-fgsdgf</span>
                <span class="join-game">JOIN</span>
            </div>
            <div class="game">
                <span class="about-game">Game number: </span>
                <span class="game-id">21323-weas-sczxcze</span>
                <span class="join-game">JOIN</span>
            </div>
            <div class="game">
                <span class="about-game">Game number: </span>
                <span class="game-id">dfsdf-32-12312-sds</span>
                <span class="join-game">JOIN</span>
            </div>-->
        </div>
    </div>
    <div class="chat-container">
        <div class="chat-container-heading">
            <img src="style/design/ChatOptions.png" width="21" height="21" class="chat-options" />
            <img src="style/design/CloseChat.png" width="21" class="close-chat" />
        </div>
        <div class="chat-window">
            <div class="post">
                <div class="headers">
                    <img src="style/design/BlackDot1px.jpg" class="avatar-img" /><!--
                    --><div class="partner-name-and-date">
                        <span class="partner-username">dbonev</span>
                        <span class="datetime-holder">16.04.2015 - 01:01</span>
                    </div>
                </div>
                <div class="content">
                    hallo! how are you?
                </div>
            </div>
            <div class="post">
                <div class="headers">
                    <img src="style/design/BlackDot1px.jpg" class="avatar-img" /><!--
                    --><div class="partner-name-and-date">
                        <span class="partner-username">jabalka</span>
                        <span class="datetime-holder">16.04.2015 - 01:02</span>
                    </div>
                </div>
                <div class="content">
                    ailqk, thanks!
                </div>
            </div>
        </div>
        <div class="placeholder">
            <textarea class="placeholder-area"></textarea><input type="image" src="style/design/MessageButton.jpg" class="send-message" />
        </div>
    </div>
</div>
